<div *ngIf="showSidebar" class="sidenav">
  <span>{{userInformation.lastName}}</span><br>
  <span>{{userInformation.firstName}}</span><br>
  <span *ngIf="userInformation.userPosition == 0">{{studentYear[userInformation.year-1]}} Year Group {{userInformation.group}}</span><br><br>

  <div *ngIf="userInformation.userPosition == 0">
    <div *ngFor="let year of userYears">
      <div class="element-sidebar" [routerLink]="['/year', year, 'profile']">{{yearTitles[year-1]}}</div>
    </div>
  </div>
  <div *ngIf="courses && userInformation.userPosition == 1">
    <div *ngFor="let course of courses">
      <div class="element-sidebar" [routerLink]="['/profile', course.id]">{{course.abreviation}}</div>
    </div>
  </div>
  <div *ngIf="userInformation.userPosition == 2">
      <div class="element-sidebar admin" [routerLink]="['/admin', 'add-student']">Add new student</div>
      <div class="element-sidebar admin" [routerLink]="['/admin', 'add-teacher']">Add new teacher</div>
      <div class="element-sidebar admin" [routerLink]="['/admin', 'add-course']">Add new course</div>
      <div class="element-sidebar admin" [routerLink]="['/admin', 'assign-user']">Assign user to course</div>
  </div>


</div>