<div class="sidenav">
  <span>{{userInformation.lastName}}</span><br>
  <span>{{userInformation.firstName}}</span><br>
  <span>Year {{userInformation.year}} Group {{userInformation.group}}</span><br><br>

  <div *ngFor="let year of userYears">
    <div class="year" (click)="showObjects(year)">Year {{year}}</div>
    <div *ngIf="showYearCourses[year-1] == true">
      <div *ngFor="let course of courses">
        <div *ngIf="course.year == year" class="object">{{course.name}}</div>
      </div>
    </div>
  </div>
</div>