################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Licenta2019/Models/obj/Release/netcoreapp2.1
