.list-evaluations {
  margin-left: 330px;
  display: flex;

  .evaluations {
    display: flex;
    flex-direction: column;

    .type {
      margin-top: 45px;
      color: #3388cc;
      font-size: 25px;
      border-bottom-style: solid;
      border-bottom-color: #3388cc;
      width: 90%;
      min-width: 500px;
      font-weight: bold;
    }

    .grade {
      margin-top: 10px;
      color: #3388cc;
      font-size: 20px;
    }

    .description {
      margin-top: 10px;
      color: #3388cc;
      font-size: 20px;
    }
  }
}

.noEvaluations-image {
  margin-left: 330px;
  text-align: center;

  img {
    height: 350px;
    margin-top: 50px;
  }
}

.check-image {
    img {
    height: 450px;
    margin-top: 20px;
    }
}

.noEvaluations-title {
  margin-left: 330px;
  margin-top: 50px;
  text-align: center;
  color: #3388cc;
  font-size: 36px;
}