.tabs {
    margin-left: 270px;
    border-bottom-style: solid;
    border-bottom-color: #3388cc;
  #add-project-button {
    margin-left: 50px;
    margin-top: 20px;
    color: white;
    background-color: #3388cc;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom:10px; 
  }
}