<div class="statistics" [class.invisible]="isLoaded != true">
  <div class="title"> Project statistics:</div>
  <div class="commits"> 
    <span class="font-bold">Total number of commits is: </span>{{teamStatistics?.totalNumberOfCommits}}
  </div>
  <mat-table [dataSource]="teamStatistics?.collaborators" class="mat-elevation-z8">
      <ng-container matColumnDef="Github username">
        <mat-header-cell *matHeaderCellDef> Github Username </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element?.userName}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="Number of commits">
        <mat-header-cell *matHeaderCellDef> Number of commits </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element?.numberOfCommits}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Number of added lines">
          <mat-header-cell *matHeaderCellDef> Number of added lines </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element?.numberOfAddedLines}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Number of deleted lines">
          <mat-header-cell *matHeaderCellDef> Number of deleted lines </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element?.numberOfDeletedLines}} </mat-cell>
        </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="chart">
        <canvas #lineChart>{{LineChart}}</canvas>
      </div>
      <div class="chart">
        <canvas #pieChart>{{PieChart}}</canvas>
      </div>
</div>

  <div class="loader-page" [class.invisible]="isLoaded == true">  
    <div class="loader">
    </div>
    <div class="title-loading">
    Project statistics are loading !
    </div>
  </div>


