.home-content{
    display: flex;
    flex-direction: column;
}

.home-introduction{
    color: #3388cc;
    margin-top: 130px;
    margin-left: 130px; 
}

.big-message{
    font-size: 50px;
}

.small-message{
    font-size: 20px;
}

.home-buttons {
    margin-top: 20px;
    margin-left: 130px;
}

#sign-up-button{ 
    color:white;
    background-color: #3388cc;
}

#login-button{
    margin-left: 10px; 
    color: #3388cc;
    background-color: white;
    border: 1px solid #3388cc;
}
