.home-introduction{
    color: #3388cc;
    margin-top: 7%;
    margin-left: 7%; 
}

.big-message{
    font-size: 50px;
}

.small-message{
    font-size: 20px;
}

.home-buttons {
    margin-top: 2%;
    margin-left: 7%;
}

#sign-up-button{ 
    color:white;
    background-color: #3388cc;
}

#login-button{
    margin-left: 10px; 
    color: #3388cc;
    background-color: white;
    border: 1px solid #3388cc;
}
