<div class="home-content">

  <div class="home-introduction">
      <span class="small-message">Welcome to FII Project Keeper</span> <br><br>

      <span class="big-message">
        The application where <br>
        you can manage all your <br>
        university projects and see <br>
        all the statistics that you need
      </span>
  </div>

  <div class="home-buttons">
      <button mat-raised-button id="sign-up-button" [routerLink]="['/register']">Get it started</button>
      <button mat-raised-button id="login-button" [routerLink]="['/login']">Login</button>
  </div>
</div> 