#header {
    background-color: #3388cc;
    display: flex;
}

.tabs {
  display: flex;
}

  .header-button {
    width: auto;
    min-width: 155px;
    margin-left: 65px;
    margin-top: 27px;
    color: #3388cc;
    background-color: white;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom:10px; 
  }

  .header-logo {
    padding-left: 95px;
    margin-right: 27px;
    img{
      cursor: pointer;
    }
  }

  .admin-title{
    color: white;
    font-size: 60px;
    line-height: 1.5;
    font-weight: bold;
    padding-left: 61px;
  }

 