#header {
    background-color: #3388cc;
    display: flex;
}

  .header-button {
    width: 200px;
    margin-left: 68px;
    margin-top: 37px;
    color: #3388cc;
    background-color: white;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom:10px; 
  }