<div *ngIf="courses && !button">
    <div *ngIf="userInformation.userPosition == 0"  class="list-courses">
      <div *ngFor="let course of coursesShowed">
        <app-course-card [course]="course" [routerLink]="['/year', year, 'profile',course.id]"></app-course-card>
      </div>
    </div>
</div>

<div *ngIf="userInformation.userPosition == 2" class="admin-info">
      <div class="admin-image">
          <img src="/assets/images/admin.svg">
      </div>
      <span class="big-message">
        Welcome to the admin page <br>
        of FII Project Keeper.  <br>
        Choose one option from <br>
        the left part to get started  <br>
      </span>
</div>

