<div class="register-body">
  <app-home></app-home>
  <div class="register-form">
    <div class="title"> Sign-up</div>
    <form (submit)="onSubmit()" class="form">
      First Name
      <input [(ngModel)]="first_name" name="First-Name" placeholder="First Name" class="form-input">
      Last Name
      <input [(ngModel)]="last_name" name="Last-Name" placeholder="Last Name" class="form-input">
      Email
      <input [(ngModel)]="email" name="Email" type="email" placeholder="Email" class="form-input">
      Password
      <input [(ngModel)]="password" name="Password" type="password" placeholder="Password" class="form-input">
    </form>
  </div>
</div>